<%- include('./partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 mt-5">
      <h2 class="alert alert-success text-center">Update Todo</h2>
      <form action="/update/<%= data._id%>" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="descrp"
            value="<%= data.title %>"
          />
        </div>

        <div class="mb-3">
          <label for="descrp" class="form-label">Descrp</label>
          <input
            type="text"
            class="form-control"
            id="descrp"
            name="descrp"
            value="<%= data.descrp %>"
          />
        </div>

        <button type="submit" class="btn btn-warning">Update</button>
        <button type="submit" class="btn btn-secondary">Go back Home</button>
      </form>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
